<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reggae festival</title>

  <!-- front icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <link href="https://fonts.cdnfonts.com/css/lattolatoo" rel="stylesheet">

  <!-- css file -->
  <link rel="stylesheet" href="/css/styles.css">

<body>
  <div class="navigation">
    <!-- Navigation bar -->
    <nav id="navbar" class="nav">
      <i class="fas fa-bars menu-btn"></i>

      <a href="/index">
        <img src="/images/logo.png" alt="logo">
      </a>

      <div class="links">
        <a href="/index" target="_self">Home</a>
        <a href="/about" target="_self">About</a>
        <a href="/#lineup">LineUp</a>
        <a href="/#festZone">FestZone</a>
        <a href="/#contact">Contact</a>
      </div>
    </nav>

    <!-- Main info about festival -->
    <div class="home">
      <div class="container">
        <div class="content">
          <h1>Welcome to David's Reggae Festival</h1>
          <p>
            Get ready for an unforgettable celebration of music, culture, and good vibes at the Reggae Festival! Join us
            on
            <br><span>June 20, 2024</span> <br>for a day filled with rhythmic beats, soulful melodies, and positive
            energy.
          </p>
          <a href="#" class="row-btn">Subscribe</a>
        </div>

        <!-- Date counter -->
        <div class="dayCounting">
          <div id="countdown" class="countdown">
            <div class="countdown-item">
              <span class="countdown-value" id="days"></span>
              <span class="countdown-label">days</span>
            </div>
            <div class="countdown-item">
              <span class="countdown-value" id="hours"></span>
              <span class="countdown-label">hours</span>
            </div>
            <div class="countdown-item">
              <span class="countdown-value" id="minutes"></span>
              <span class="countdown-label">minutes</span>
            </div>
            <div class="countdown-item">
              <span class="countdown-value" id="seconds"></span>
              <span class="countdown-label">second</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About section -->
  <div class="subHome" id="about">
    <h3>About Us</h3>
    <div class="containers">
      <div class="section-container">
        <div class="section">
          <h2>History of Reggae Roots Festival</h2>
          <p>Reggae Roots Festival emerged from a passion for music and a love for the reggae culture. The
            inaugural edition took place in 2008 in the heart of Kingston, Jamaica. Since then, our event
            has grown into one of the premier reggae festivals, celebrating the rich heritage and vibrant
            spirit of reggae music.</p>
        </div>
        <div class="section">
          <h2>Mission and Values</h2>
          <p>Our mission is to create an inclusive atmosphere where everyone can experience and celebrate the
            diversity of reggae music, while fostering a sense of community and cultural exchange. We are
            committed to promoting positivity, unity, and social consciousness through the power of reggae
            music.</p>
        </div>
        <div class="section">
          <h2>Location</h2>
          <p>The festival takes place in the picturesque surroundings of Bob Marley Square in Kingston,
            Jamaica. Surrounded by the iconic landmarks of reggae history, our location provides the perfect
            backdrop for an authentic reggae experience.</p>
        </div>
        <div class="section">
          <h2>Organizers</h2>
          <p>Reggae Roots Festival is organized by the Reggae Roots Foundation, a non-profit organization
            dedicated to preserving and promoting reggae music and culture. Our team consists of passionate
            individuals with deep roots in the reggae community, committed to creating a positive impact
            through music.</p>
        </div>
        <div class="section">
          <h2>Partners and Sponsors</h2>
          <p>We are grateful to our partners and sponsors for their support, which enables us to bring the
            festival to life and provide an exceptional experience for our attendees. Special thanks to our
            main partners: Jamaica Tourist Board, Red Stripe, and Bob Marley Foundation.</p>
        </div>
      </div>
      <div class="picture">
      </div>
    </div>
  </div>

    <!-- FAQ  -->
    <div class="subHome" id="faq">
      <h3>FAQ's</h3>
      <div class="question-container">
        <div class="question">
          <button class="faqButton">
            <span>What time does the concert start and end?</span>
            <i class="fa-solid fa-angle-down d-arrow"></i>
          </button>
          <p>The concert starts at 2pm and ends at 2am. However, some activities are open even on 12pm. Please visit the zones page.</p>
        </div>
  
        <div class="question">
          <button class="faqButton">
            <span>Where is the concert venue located?</span>
            <i class="fa-solid fa-angle-down d-arrow"></i>
          </button>
          <p>The concert venue is located picturesque surroundings of Bob Marley Square in Kingston,
            Jamaica.</p>
        </div>
  
        <div class="question">
          <button class="faqButton">
            <span>Is parking available at the venue?</span>
            <i class="fa-solid fa-angle-down d-arrow"></i>
          </button>
          <p>Yes, there is parking available at the venue. However, you need to register your car before enter the car park. Please visit <a href=>https://example-carpark-link.com</a>.</p>
        </div>
  
        <div class="question">
          <button class="faqButton">
            <span>Are there age restrictions at the reggae music festival?</span>
            <i class="fa-solid fa-angle-down d-arrow"></i>
          </button>
          <p>Our reggae festival is open to all ages! We believe in creating a family-friendly environment where everyone can come together and enjoy the music and culture of reggae.</p>
        </div>
  
        <div class="question">
          <button class="faqButton">
            <span>What are the camping options available at the reggae festival?</span>
            <i class="fa-solid fa-angle-down d-arrow"></i>
          </button>
          <p>We offer a range of camping options to suit every festival-goer's needs, from basic tent camping to RV hookups. Visit <a href=https://www.ticketmaster.co.uk/>https://www.ticketmaster.co.uk/</a> for information on amenities, pricing, and how to reserve your spot under the stars.</p>
        </div>
  
        <div class="question">
          <button class="faqButton">
            <span>How do I stay safe and healthy at the reggae music festival?</span>
            <i class="fa-solid fa-angle-down d-arrow"></i>
          </button>
          <p>Your safety and well-being are our top priorities. Stay hydrated, apply sunscreen regularly, and take breaks in the shade to avoid overheating. Our medical team is on standby for any emergencies, and our staff is here to ensure you have a memorable and safe experience.</p>
        </div>
      </div>
    </div>

  <!-- Footer section -->
  <footer>
    <div class="socialIcons">
      <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://open.spotify.com/"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
    </div>

    <div class="information">
      <a href="/about#faq" target="_self">FQA</a> |
      <a href="/privacy" target="_self">PRIVACY POLICY</a> |
      <a href="/terms" target="_self">TERMS & CONDITIONS</a>
    </div>

  </footer>

  <script src="/js/script.js"></script>

</body>

</html>