<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reggae festival</title>

  <!-- front icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <link href="https://fonts.cdnfonts.com/css/lattolatoo" rel="stylesheet">

  <!-- css file -->
  <link rel="stylesheet" href="/css/styles.css">

<body>
  <div class="navigation">
    <!-- Navigation bar -->
    <nav id="navbar" class="nav">
      <i class="fas fa-bars menu-btn"></i>

      <a href="/index">
        <img src="/images/logo.png" alt="logo">
      </a>

      <div class="links">
        <a href="/index" target="_self">Home</a>
        <a href="/about" target="_self">About</a>
        <a href="/#lineup">LineUp</a>
        <a href="/#festZone">FestZone</a>
        <a href="/#contact">Contact</a>
      </div>
    </nav>

    <!-- Main info about festival -->
    <div class="home">
      <div class="container">
        <div class="content">
          <h1>Welcome to David's Reggae Festival</h1>
          <p>
            Get ready for an unforgettable celebration of music, culture, and good vibes at the Reggae Festival! Join us
            on
            <br><span>June 20, 2024</span> <br>for a day filled with rhythmic beats, soulful melodies, and positive
            energy.
          </p>
          <a href="#" class="row-btn">Subscribe</a>
        </div>

        <!-- Date counter -->
        <div class="dayCounting">
          <div id="countdown" class="countdown">
            <div class="countdown-item">
              <span class="countdown-value" id="days"></span>
              <span class="countdown-label">days</span>
            </div>
            <div class="countdown-item">
              <span class="countdown-value" id="hours"></span>
              <span class="countdown-label">hours</span>
            </div>
            <div class="countdown-item">
              <span class="countdown-value" id="minutes"></span>
              <span class="countdown-label">minutes</span>
            </div>
            <div class="countdown-item">
              <span class="countdown-value" id="seconds"></span>
              <span class="countdown-label">second</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Privacy Policy section -->
  <div class="subHome">
    <h3>Privacy Policy</h3>
    <div class="containers">
      <div class="section-container">
        <div class="section">
          <p>Your privacy is important to us. It is David's Reggae Festival's policy to respect your privacy regarding any information we may collect from you across our website, and other sites we own and operate.</p>
          <h2>Collection of Personal Information</h2>
          <p>We only ask for personal information when we truly need it to provide a service to you. The only instance in which we collect personal information is through the submission form on our website, where users can contact us via email. The information collected through this form may include:</p>
          <ul>
            <li>Name & surname</li>
            <li>Email address</li>
            <li>Any additional information voluntarily provided by the user in the message field</li>
          </ul>
          <h2>Use of Personal Information</h2>
          <p>The personal information collected through the submission form is solely used to respond to inquiries, comments, or requests made by users. We do not use this information for any other purpose, such as marketing or third-party sharing, without the explicit consent of the user.</p>
          <h2>Data Protection</h2>
          <p>We are committed to protecting the security of your personal information. We employ industry-standard security measures to safeguard the confidentiality, integrity, and availability of the data collected through our website. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure and we cannot guarantee absolute security.</p>
          <h2>Consent</h2>
          <p>By using our website and submitting personal information through the contact form, you consent to the collection and use of your information as outlined in this privacy policy.</p>
          <h2>Information Sharing</h2>
          <p>We do not share, sell, rent, or trade personal information collected through our website with third parties for their promotional purposes.</p>
          <h2>Changes to this Privacy Policy</h2>
          <p>We reserve the right to update or change our privacy policy at any time. Any changes will be effective immediately upon posting the updated policy on this page.</p>
          <h2>Contact Us</h2>
          <p>If you have any questions or concerns about our privacy policy or the handling of your personal information, please contact us at <a href="mailto:recipient@example.com">contact@example.com</a>.</p>
        </div>
      </div>
      <div class="picture">
      </div>
    </div>
  </div>
  <!-- Footer section -->
  <footer>
    <div class="socialIcons">
      <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://open.spotify.com/"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
    </div>

    <div class="information">
      <a href="/about" target="_self">FQA</a> |
      <a href="/privacy" target="_self">PRIVACY POLICY</a> |
      <a href="/terms" target="_self">TERMS & CONDITIONS</a>
    </div>

  </footer>

  <script src="/js/script.js"></script>

</body>

</html>